* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

body {
    background: #000428;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #004e92, #000428);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #004e92, #000428);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.container-topo {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container-topo h1 {
    font-size: 1.30rem;
    margin-top: 1rem;
    margin-left: 1rem;
    color: #fff;
}

.navegaçao ul {
    display: flex;
    gap: 5rem;
    margin-top: 1rem;
    align-items: center;
}

.navegaçao ul li a {
    color: #fff;
    font-size: 1.30rem;
}

.navegaçao ul li a:hover {
    border-bottom: 2px solid #fff;
}

/*menu responsivo*/
.show-menu-btn, .hide-menu-btn {
    transition: 0.4s;
    font-size: 30px;
    cursor: pointer;
    display: none;
}

.show-menu-btn {
    width: 100%;
}

.show-menu-btn i {
    line-height: 100px;
    color: #fff;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 2rem;
}

#chk {
    position: absolute;
    visibility: hidden;
    z-index: -1111;
}

@media screen and (max-width:1000px) {
    .show-menu-btn, .hide-menu-btn {
        display: block;
    }

    .navegaçao {
        position: fixed;
        width: 100%;
        height: auto;
        background: #fff;
        right: -100%;
        top: 0;
        text-align: center;
        padding: 8rem 0;
        line-height: normal;
        transition: 0.7s;
        border-bottom-left-radius: 100px;
    }

    .navegaçao ul {
        display: flex;
        flex-direction: column;
        color: #000;
    }

    .navegaçao ul li a {
        color: #000;
    }

    .hide-menu-btn {
        position: absolute;
        top: 40px;
        right: 40px;
    }

    #chk:checked~.navegaçao {
        right: 0;
    }
}

.container-meio {
    display: flex;
    max-width: 100%;
    justify-content: space-around;
    align-items: center;
    margin-top: 10rem;
    flex-wrap: wrap;
}

.box-img {
    max-width: 100%;
    width: 50%;
}

.box-img img {
    width: 400px;
    height: auto;
    max-width: 100%;
    margin: 0 auto;
    display: block;
}

.box-sobre {
    max-width: 100%;
    width: 50%;
    margin-bottom: 10rem;
}

.box-sobre h1 {
    color: #fff;
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 2rem;
}

.box-sobre p {
    color: #ccc;
    font-size: 1rem;
    width: 100%;
    padding-right: 4rem;
}

.btn {
    max-width: 100%;
    width: 100%;
    margin-top: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 2rem;
}

.btn button {
    width: 200px;
    height: 50px;
    border-radius: 20px;
    background-color: #fff;
    max-width: 100%;
    border: none;
    margin-bottom: 1rem;
    cursor: pointer;
}

.btn button:hover {
    background-color: #ccc;
}


.btn button a {
    color: #000;
    font-size: 1rem;
    text-align: center;
    display: block;
}

.container-trabalhos h2 {
    color: #fff;
    margin-top: 5rem;
    padding-bottom: 1rem;
    font-size: 1.20rem;
}

.container-imgs {
    width: 100%;
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.box-trabalhos img {
    width: 200px;
    margin: 0 1rem;
    border: 1px solid #000;
    transition: 1s;
}

.box-trabalhos img:hover {
    box-shadow: 2px 2px 8px #ccc;
    transform: scale(1.1, 1.1);
}

@media(max-width:1824px) {
    .container-imgs {
        gap: 2rem;
    }
}

@media(max-width:1000px) {
    .container-meio {
        flex-direction: column;
    }

    .box-sobre {
        width: 100%;
        margin-top: 3rem;
        text-align: center;
    }

    .box-sobre p {
        padding: 1rem 3rem;
    }

    .btn {
        justify-content: space-around;
        width: 100%;
    }

    .box-trabalhos {
        gap: 1rem;
    }
}

@media(max-width:524px) {
    .container-imgs {
        justify-content: center;
    }
}

.contatos {
    clear: both;
    width: 100%;
    max-width: 100%;
    padding: 2rem 0;
    text-align: center;
}

.contatos a {
    color: #fff;
    display: inline-block;
    font-size: 2rem;
}

.contatos i {
    padding: 0 2rem;
}

.contatos i:hover {
    color: #ccc;
}

.roda-pe {
    text-align: center;
    color: #fff;
    max-width: 100%;
}